body{

    background-color: rgb(136, 132, 132);
    color: aquamarine;
      font-family: "Bitcount Grid Double", system-ui;
    border: 12px;

}
 header{
font-size: 60px;

 }
  h1{
    font-size: 25px;
  }

  p{
    font-size: 16px;
  }