body{

    background-color: rgb(2, 2, 2);
    color: rgb(135, 248, 22);
      font-family: "Bitcount Grid Double", system-ui;
<<<<<<< HEAD
    border: 40px;
=======
>>>>>>> 703ce922c7f0591af6951edda32d747b51d0129f

}

.linha{
  height: 25;
  background: black2;
}
 header{
font-size: 60px;
text-align: center;
border-bottom: double 5px rgb(101, 246, 4);
padding: 30px;
 }
  h1{
    font-size: 25px;
  }

  p{
    font-size: 16px;
  }