body{

    background-color: rgb(136, 132, 132);
    color: aquamarine;
      font-family: "Bitcount Grid Double", system-ui;
<<<<<<< HEAD
    border: 40px;
=======
>>>>>>> 703ce922c7f0591af6951edda32d747b51d0129f

}

.linha{
  height: 25;
  background: black2;
}
 header{
font-size: 60px;

 }
  h1{
    font-size: 25px;
  }

  p{
    font-size: 16px;
  }